*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top {
    flex-basis: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: #fff;
}
.top img{
    width:45px;
    border-radius: 50%;
    margin: 12px 10px;
    cursor: pointer;
}
.top img:first-child {
    width: 35px;
}
.top h2 {
    
    
}
.top img:last-child {
    border: 1px solid #fff;
}
.middle {
    flex-basis: 83%;
    background: #EFEFEF;
    overflow-y: scroll;
}
.bottom {
    flex-basis: 10%;
    background: var(--blue);
}
.post-container {
    background: #fff;
    margin: 15px 10px;
    border-radius: 4px;
    padding: 10px;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post-header > img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-name p {
    color: #626262;
    font-size: 15px;
    font-weight: 600;
}
.user-name span {
    color: #9a9a9a;
    font-size: 13px;
}
.post-content p {
    font-size: 15px;
    color: #9a9a9a;
    margin-bottom: 15px;
}
.post-content a {
    text-decoration: none;
    color: var(--blue);
}
.post-content span {
    font-weight: 600;
}
.post-content img {
    width: 100%;
    border-radius: 4px;
}
.user-settings {
    background: #fff;
    position: absolute;
    right: 5%;
    top: 13%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    width: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}
.user-settings-height {
    max-height: 450px;
}
.user-settings .user-name p {
    font-weight: 500;
}
.user-name a {
    text-decoration: none;
    color: var(--blue);
    font-size: 12px;
}
.user-settings hr {
    background: #9a9a9a;
    height: 1px;
    border: 0;
    margin: 0 10px;
}
.settings-link {
    display: flex;
    align-items: center;
}
.settings-link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-decoration: none;
    color: #626262;
    font-size: 15px;
}
.settings-link a > img {
   width : 100px;
}
.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
.menu i {
    margin-bottom: 5px;
}
.menu:hover {
    color: #2F7EFD;
    background: #fff;
}
